/* Header */
.app-header {
  grid-column: 1/3;
  margin-bottom: 3em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
  position: relative;
  border-bottom: 1px solid var(--color-grey);
}

.app-header h1 {
  font-size: var(--font-size__main);
  margin: 0;
  font-weight: normal;
  color: #fff;
}

.app-header h1 strong {
  color: var(--color-brand);
  font-weight: inherit;
}

.app-header__logo {
  display: flex;
  align-items: flex-end;
}

.app-header__logo span {
  font-size: 0.5em;
  opacity: 0.3;
  margin-left: 1em;
  top: -1em;
  position: relative;
}

.app-header h2 {
  font-size: var(--font-size__base);
  line-height: 1.6;
  margin-bottom: 0;
}

.app-header__loader {
  height: 96px;
}

.app-assign__stars {
  display: flex;
  justify-content: center;
  margin: 0;
}
.app-assign__stars > * {
  margin-left: 20px;
}

.app-react_europe {
  position: absolute;
  right: 0;
  bottom: -0.25em;
  font-size: var(--font-size__tiny);
  color: #fff;
}

.app-react_europe a {
  text-decoration: none;
  color: var(--color-brand);
}
