.showcase {
  border-top: 1px solid #e6e7eb80;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(255, 255, 255, 1) 40%
  );
}

.showcase-button {
  letter-spacing: -0.2px;
  padding: 2em 0 0.1em;
  margin: 0;
  text-align: center;
  font-size: 1.728em;
  color: var(--lynch);
}

.showcase-legend {
  color: var(--silver);
  margin: 0.5em 0;
  text-align: center;
  line-height: 1.6;
  font-size: 1.2em;
  letter-spacing: 0.9px;
  font-weight: 300;
}

.showcase-button a {
  text-decoration: none;
  color: inherit;
}

.showcase-grid {
  padding: 0 2em;
  margin: 2em auto;
  max-width: 120em;

  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  box-sizing: border-box;
  margin: 15px;
  padding: 30px;
  width: calc((100% / 3) - 30px);
  background-color: #ffffff;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(75, 84, 94, 0.1);
}

.showcase-component {
  min-height: 260px;
}

.showcase-caption {
  box-sizing: border-box;
  padding-top: 16px;
  margin-top: 16px;
  margin-bottom: -8px;
  border-top: 1px solid var(--porcelain);
}

.showcase-item h4 {
  margin: 0;
  margin-right: 0.7em;
  display: inline-block;
  width: 60%;
  color: var(--lynch);
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 0.3px;
}

.showcase-item a {
  text-decoration: none;
  display: block;
  color: var(--silver);
  font-size: 1rem;
  margin-top: 1em;
}

.showcase-item a.source {
  float: right;
  margin-top: 0.2em;
}

.showcase-item a:hover {
  text-decoration: underline;
}

.showcase-item__new {
  display: flex;
}

.showcase-item__new a {
  margin: auto;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  background: #eeeeee80;
  padding: 0.5em 1em;
  border-radius: 40px;
  transition: all 0.3s ease;
  color: var(--dark);
}

.showcase-item__new a:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

.showcase-item__new a:before {
  content: "+";
  display: inline-block;
  margin-right: 0.5em;
}
