.showcase {
  border-top: 1px solid #e6e7eb80;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(255, 255, 255, 1) 40%
  );
}

.showcase-button {
  color: #637cc3;
  letter-spacing: -0.2px;
  font-size: 1.4em;
  padding: 2em 0 0.1em;
  margin: 0;
  text-align: center;
}

.showcase-legend {
  margin: 0.5em 0;
  text-align: center;
  font-size: 1em;
  line-height: 1.6;
  color: #686768;
  font-weight: 300;
}

.showcase-button a {
  color: inherit;
  text-decoration: none;
}

.showcase-grid {
  padding: 0 2em;
  margin: 2em auto;
  max-width: 120em;

  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  box-sizing: border-box;
  margin: 15px;
  padding: 30px;
  width: calc((100% / 3) - 30px);
  background-color: #ffffff;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(75, 84, 94, 0.1);
}

.showcase-caption {
  box-sizing: border-box;
  padding-top: 16px;
  margin-top: 16px;
  margin-bottom: -8px;
  border-top: 1px solid #eee;
}

.showcase-item h4 {
  margin: 0;
  margin-right: 0.7em;
  font-weight: 300;
  display: inline-block;
}

.showcase-item a {
  text-decoration: none;
  font-weight: 300;
  font-size: 0.8em;
  color: #a5a5a5;
}

.showcase-item a.source {
  float: right;
  margin-top: 0.2em;
}

.showcase-item a:hover {
  text-decoration: underline;
}

.showcase-item__new {
  display: flex;
}

.showcase-item__new a {
  margin: auto;
  font-size: 18px;
  color: #a5a5a5;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  background: #eeeeee80;
  padding: 0.5em 1em;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.showcase-item__new a:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

.showcase-item__new a:before {
  content: "+";
  display: inline-block;
  margin-right: 0.5em;
}
