.showcase {
  border-top: 1px solid var(--color-porcelain);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, #fff 5%);
}

.showcase-button {
  letter-spacing: -0.2px;
  padding: 2em 0 0.1em;
  margin: 0;
  text-align: center;
  font-size: var(--font-size__main);
  color: var(--color-lynch);
}

.showcase-legend {
  color: var(--color-silver);
  margin: 0.5em 0;
  text-align: center;
  line-height: 1.6;
  font-size: var(--font-size__medium);
  letter-spacing: 0.9px;
  font-weight: 300;
}

.showcase-button a {
  text-decoration: none;
  color: inherit;
}

.showcase-grid {
  padding: 0 2em;
  margin: 2em auto;
  max-width: 120em;

  display: flex;
  flex-wrap: wrap;
}

.showcase-item {
  min-height: 300px;
  box-sizing: border-box;
  margin: 15px;
  padding: 30px;
  width: calc((100% / 3) - 30px);
  background-color: #ffffff;
  border: 1px solid #e6e7eb;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(75, 84, 94, 0.1);
}

.showcase-component {
  height: 15vw;
  overflow: hidden;
}

.showcase-caption {
  box-sizing: border-box;
  padding-top: 16px;
  margin-top: 16px;
  margin-bottom: -8px;
  border-top: 1px solid var(--color-porcelain);
}

.showcase-item h4 {
  margin: 0;
  margin-right: 0.7em;
  display: inline-block;
  width: 70%;
  color: var(--color-lynch);
  font-weight: normal;
  font-size: var(--font-size__base);
  letter-spacing: 0.3px;
}

.showcase-item a {
  text-decoration: none;
  display: block;
  color: var(--color-silver);
  font-size: var(--font-size__base);
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.showcase-item a.source {
  float: right;
  margin-top: 0.2em;
}

.showcase-item__new {
  display: flex;
  position: relative;
}

.showcase-item__new a {
  margin: auto;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.04);
  position: relative;
  background: #eeeeee80;
  padding: 0.5em 1em;
  border-radius: 40px;
  transition: all 0.3s ease;
  color: var(--color-lynch);
  top: -2em;
  z-index: 999;
}

.showcase-item__new a:before {
  content: '+';
  display: inline-block;
  margin-right: 0.5em;
}

.showcase-item__new-loader {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
}
