:root {
  --color-lynch: #6c7a89;
  --color-silver: #bdc3c7;
  --color-dark: #434a50;
  --color-porcelain: #ecf0f1;

  --font-size__main: 1.728rem;
  --font-size__medium: 1.2rem;
  --font-size__base: 1rem;
  --font-size__tiny: 0.833rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  min-height: 100vh;
  min-width: 960px;
}

/* Grid */
.App {
  padding: 0 2em 6em;
  max-width: 1380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 76vh;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 5em;
}

/* Editor */
.app-editor {
  background: #151515;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
  border-radius: 5px;
  padding: 1.2em;
  max-width: 100%;
  overflow: auto;
  position: sticky;
  top: 30px;
  min-height: 23.6em;
}

.token.comment {
  color: hsl(0, 0%, 38%) !important;
}

.prism-code {
  background: none !important;
  padding: 0 !important;
  overflow: hidden auto;
  max-width: 40vw;
}

.app-editor__tab {
  padding-bottom: 1em;
  display: block;
}

.app-editor__tab span,
.app-editor__tab:before,
.app-editor__tab:after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-right: 8px;
  display: inline-block;
}

.app-editor__tab:before {
  background-color: #f85955;
  border: 1px solid #d74246;
}

.app-editor__tab span {
  background-color: #fbbe3f;
  border: 1px solid #d7a32d;
}

.app-editor__tab:after {
  background-color: #45cc4b;
  border: 1px solid #40ad36;
}

.copy-to-clipboard {
  float: right;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
  margin-top: -35px;
  font-size: var(--font-size__tiny);
  color: var(--color-silver);
}

.app-editor:hover .copy-to-clipboard {
  opacity: 1;
}

.copy-to-clipboard:active {
  transform: translateY(1px);
}

.react-live-error {
  padding: 0.5em;
  border-radius: 0.25rem;
  background-color: rgba(206, 17, 38, 0.05);
  color: #f85955;
}

/* Canvas */
.app-canvas {
  position: relative;
  min-height: 8em;
  transition: all 0.3s ease;
  overflow: hidden;
}

.app-canvas:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-repeating-radial-gradient(
    top center,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 100%
  );
  background-size: 20px 20px;
  transition: all 0.3s ease;
  opacity: 0;
}

.app-canvas:hover:before {
  opacity: 1;
}

.app-canvas__guideline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease;
  max-width: 100%;
}

.app-canvas:hover .app-canvas__guideline {
  opacity: 1;
}

.app-canvas__sketch {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border: 1px solid transparent;
  transition: border 0.3s ease;
  border-radius: 3px;
}

.app-canvas:hover .app-canvas__sketch {
  border: 1px solid #f5f5f5;
}

.react-live-preview {
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.app-canvas:hover .react-live-preview {
  opacity: 0.9;
}

.app-canvas__draw .upper-canvas {
  cursor: crosshair !important;
}

/* Handlers */
.app-handlers {
  border-bottom: 1px solid var(--color-porcelain);
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.app-handlers > * {
  margin-right: 1em;
}

.app-handlers button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.app-handler__clone,
.app-handlers__tool {
  vertical-align: middle;
  width: 3.4em;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.app-handlers__tool img {
  width: 100%;
  height: auto;
}

.app-handler__clone img {
  width: 100%;
  height: auto;
}

.app-handlers__tool.app-handlers__active {
  opacity: 1;
}

.app-handlers .app-handler__trash {
  float: right;
  width: 2.8em;
  opacity: 1;
  margin: 1px;
}

.app-handlers .app-handler__clone {
  float: right;
}

.app-handlers .app-handlers__div {
  display: inline-block;
  padding-left: 1em;
  vertical-align: middle;
  font-size: var(--font-size__tiny);
  color: var(--color-silver);
  border-left: 1px solid var(--color-porcelain);
}

.app-handlers .app-handlers__preset {
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.5em;
  transition: color 0.3s ease;
  font-size: var(--font-size__tiny);
  color: var(--color-dark);
}

/* Config */
.app-config {
  margin-top: 2em;
  padding-top: 1em;
  width: 100%;
}

.app-config p {
  padding: 0.5em 0;
  margin: 0;
  display: inline-flex;
  width: calc(100% / 3);
  box-sizing: border-box;
  margin-bottom: 0.7em;
  align-items: center;
}

.app-config label {
  margin-right: 0.4em;
  min-width: 3em;
  font-size: var(--font-size__tiny);
  color: var(--color-dark);
}

.app-config button {
  background: none;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  top: 7px;
}

.app-config button:hover {
  text-decoration: underline;
}

.app-config input {
  border: none;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-porcelain);
  width: 4em;
  height: 2em;
  display: inline-block;
  outline: 0;
  margin: 0;
  padding: 0;
}

.app-config input[type='color'] {
  border: 0;
}

.app-config input[type='color']::-webkit-color-swatch {
  border: 0;
  border-radius: 2px;
}

.app-config input[type='checkbox'] {
  height: auto;
  width: auto;
  margin-right: 1em;
  margin-bottom: 1em;
}

.app-config .properties {
  font-size: var(--font-size__tiny);
  color: var(--color-silver);
  font-weight: normal;
}

.app-config .toggle {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  top: -0.1em;
  position: relative;
  margin-left: 0.6em;
}

.app-config .toggle-input {
  display: none;
}

.app-config .toggle-check {
  margin-right: 0.75em;
  position: relative;
  margin-top: 0.2em;
}

.app-config .toggle-check:before {
  content: '';
  display: block;
  position: relative;
  width: 2.2rem;
  height: 1.45rem;
  border-radius: 1rem;
  background: #f8f8f8;
  cursor: pointer;
  background: #eee;
  transition: all 0.3s ease;
}

.app-config .toggle-check:after {
  content: '';
  display: block;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 1.2rem;
  position: absolute;
  left: 0.15rem;
  top: 0.15rem;
  transition: all 0.3s ease;
}

.app-config .toggle-check.checked:before {
  box-shadow: inset 0 0 0 18px #1cd01c;
}

.app-config .toggle-check.checked:after {
  left: calc(100% - 1.15rem - 0.15rem);
}

.app-config .app-config__guideline {
  width: calc(100% / 2);
  position: relative;
}

.app-config .app-config__guideline input {
  width: 100%;
  padding-left: 26px;
  border-bottom: 1px solid var(--color-porcelain);
  height: 3em;
  line-height: 2.8em;
  background: url(../assets/grid.svg) -5px 0px no-repeat;
  background-size: auto 30px;
  top: 1em;
}

.app-config .app-config__guideline button {
  position: absolute;
  right: -2em;
  bottom: 1em;
  min-width: 1.3em;
}

.app-config .reset-colors {
  top: 5px;
  color: var(--color-silver);
  text-decoration: underline;
}

.tippy-tooltip {
  position: relative;
  color: #fff;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-lynch);
  pointer-events: none;
}

.handle-framework {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  padding-right: 1em;
  margin-right: 0.8em;
  margin-bottom: 1em;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--color-silver);
  letter-spacing: 0.5px;
}

.handle-framework:first-child {
  border-right: 1px solid var(--color-porcelain);
}

.handle-framework:hover,
.handle-framework.current {
  color: var(--color-dark);
}

.handle-framework img {
  height: 1.3em;
  margin-right: 0.4em;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.handle-framework:hover img,
.handle-framework.current img {
  opacity: 1;
}
