.tippy-touch {
  cursor: pointer !important;
}
.tippy-notransition {
  transition: none !important;
}
.tippy-popper {
  max-width: 230px;
  -webkit-perspective: 800px;
  perspective: 800px;
  z-index: 9999;
  outline: 0;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
}

.tippy-popper a {
  color: inherit;
  text-decoration: underline;
}

.tippy-popper.html-template {
  max-width: 96%;
  max-width: calc(100% - 20px);
}
.tippy-popper[x-placement^='top'] [x-arrow] {
  border-top: 7px solid var(--color-lynch);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  margin: 0 9px;
}

.tippy-popper[x-placement^='top'] [x-circle] {
  -webkit-transform-origin: 0 33%;
  transform-origin: 0 33%;
}
.tippy-popper[x-placement^='top'] [x-circle].enter {
  -webkit-transform: scale(1) translate(-50%, -55%);
  transform: scale(1) translate(-50%, -55%);
  opacity: 1;
}
.tippy-popper[x-placement^='top'] [x-circle].leave {
  -webkit-transform: scale(0.15) translate(-50%, -50%);
  transform: scale(0.15) translate(-50%, -50%);
  opacity: 0;
}

.tippy-popper[x-placement^='top'] [data-animation='fade'].enter {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.tippy-popper[x-placement^='top'] [data-animation='fade'].leave {
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.tippy-popper[x-placement^='top'] [data-animation='shift'].enter {
  opacity: 1;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.tippy-popper[x-placement^='top'] [data-animation='shift'].leave {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.tippy-popper[x-placement^='top'] [data-animation='scale'].enter {
  opacity: 1;
  -webkit-transform: translateY(-10px) scale(1);
  transform: translateY(-10px) scale(1);
}
.tippy-popper[x-placement^='top'] [data-animation='scale'].leave {
  opacity: 0;
  -webkit-transform: translateY(0) scale(0);
  transform: translateY(0) scale(0);
}

.tippy-popper[x-placement^='right'] [data-animation='fade'].enter {
  opacity: 1;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.tippy-popper[x-placement^='right'] [data-animation='fade'].leave {
  opacity: 0;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.tippy-popper[x-placement^='right'] [data-animation='shift'].enter {
  opacity: 1;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.tippy-popper[x-placement^='right'] [data-animation='shift'].leave {
  opacity: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.tippy-popper[x-placement^='right'] [data-animation='scale'].enter {
  opacity: 1;
  -webkit-transform: translateX(10px) scale(1);
  transform: translateX(10px) scale(1);
}
.tippy-popper[x-placement^='right'] [data-animation='scale'].leave {
  opacity: 0;
  -webkit-transform: translateX(0) scale(0);
  transform: translateX(0) scale(0);
}
.tippy-popper .tippy-tooltip.transparent-theme {
  background-color: rgba(0, 0, 0, 0.7);
}
.tippy-popper .tippy-tooltip.transparent-theme[data-animatefill] {
  background-color: transparent;
}
.tippy-popper .tippy-tooltip.light-theme {
  color: #26323d;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1),
    0 4px 80px -8px rgba(0, 20, 60, 0.2);
  background-color: #fff;
}
.tippy-popper .tippy-tooltip.light-theme[data-animatefill] {
  background-color: transparent;
}
.tippy-tooltip {
  position: relative;
  color: #fff;
  border-radius: 4px;
  font-size: 0.95rem;
  padding: 0.4rem 0.8rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}
.tippy-tooltip--small {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}
.tippy-tooltip--big {
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
}
.tippy-tooltip[data-animatefill] {
  overflow: hidden;
  background-color: transparent;
}
.tippy-tooltip[data-interactive] {
  pointer-events: auto;
}
.tippy-tooltip[data-inertia] {
  transition-timing-function: cubic-bezier(0.53, 2, 0.36, 0.85);
}
.tippy-tooltip [x-arrow] {
  position: absolute;
  width: 0;
  height: 0;
}
.tippy-tooltip [x-circle] {
  position: absolute;
  will-change: transform;
  background-color: #333;
  border-radius: 50%;
  width: 130%;
  width: calc(110% + 2rem);
  left: 50%;
  top: 50%;
  z-index: -1;
  overflow: hidden;
  transition: all ease;
}
.tippy-tooltip [x-circle]:before {
  content: '';
  padding-top: 90%;
  float: left;
}
@media (max-width: 450px) {
  .tippy-popper {
    max-width: 96%;
    max-width: calc(100% - 20px);
  }
}
