body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

/* Grid */
.App {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 0 5em;
}

/* Header */
.app-header {
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 3em;
}

.app-header h1 {
  font-size: 1.6em;
  color: #637cc3;
  font-weight: 600;
  margin-top: 0;
}

.app-header a {
  color: inherit;
  text-decoration: none;
}

.app-header a:hover {
  text-decoration: underline;
}

.app-header h2 {
  font-size: 1em;
  line-height: 1.6;
  color: #686768;
  font-weight: 300;
}

/* Editor */
.app-editor {
  background: #151515;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
  border-radius: 5px;
  padding: 1.2em;
  max-width: 100%;
  overflow: auto;
  margin-bottom: 4em;
}

.token.comment {
  color: hsl(0, 0%, 38%) !important;
}

.prism-code {
  background: none !important;
  padding: 0 !important;
}

.app-editor__tab {
  padding-bottom: 1em;
  display: block;
}

.app-editor__tab span,
.app-editor__tab:before,
.app-editor__tab:after {
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-right: 8px;
  display: inline-block;
}

.app-editor__tab:before {
  background-color: #f85955;
  border: 1px solid #d74246;
}

.app-editor__tab span {
  background-color: #fbbe3f;
  border: 1px solid #d7a32d;
}

.app-editor__tab:after {
  background-color: #45cc4b;
  border: 1px solid #40ad36;
}

/* Canvas */
.app-canvas {
  position: relative;
  min-height: 18em;
}

.app-canvas__sketch {
  position: absolute;
  left: 0;
  top: 0;
}

.app-canvas__sketch {
  border: 1px solid #fff;
  transition: border 0.3s ease;
}

.app-canvas__sketch:hover {
  border: 1px solid #f5f5f5;
}

/* Handlers */
.app-handlers {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.app-handlers > * {
  margin-right: 1em;
}

.app-handlers button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.app-handlers__tool {
  vertical-align: middle;
  width: 3.4em;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.app-handlers__tool img {
  width: 100%;
  height: auto;
}

.app-handlers__tool:hover,
.app-handlers__tool.app-handlers__active {
  opacity: 1;
}

.app-handlers .app-handler__trash {
  float: right;
  width: 3em;
  opacity: 1;
}

.app-handlers .app-handlers__div {
  border-left: 1px solid #f0f0f0;
  line-height: 2.3em;
  font-size: 0.8em;
  font-weight: 300;
  color: #a5a5a5;
  display: inline-block;
  height: 2em;
  padding-left: 1em;
  vertical-align: middle;
}

.app-handlers .app-handlers__preset {
  line-height: 1.4;
  color: #a5a5a5;
  font-weight: 600;
  font-size: 0.8em;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.5em;
  transition: color 0.3s ease;
}

.app-handlers .app-handlers__preset:hover {
  color: #000;
}

/* Config */
.app-config {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex-wrap: wrap;
}

.app-config__col {
  min-width: 25%;
}

.app-config p {
  padding: 0.5em 0;
  margin: 0;
}

.app-config label {
  margin-right: 1em;
  display: inline-block;
  font-weight: 300;
  color: #a5a5a5;
  min-width: 3em;
  font-size: 0.9em;
  vertical-align: middle;
}

.app-config button {
  border: 1px solid #f5f5f5;
  margin-right: 1em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 0.2em 0.6em;
  font-size: 0.9em;
  font-weight: 600;
  outline: 0;
  transition: background 0.3s ease;
}

.app-config button:hover {
  background: #f5f5f5;
}

.app-config input {
  border: 0;
  font-size: 1em;
  height: 1.5em;
  font-weight: 300;
  color: #000;
  width: 4em;
  display: inline-block;
  outline: 0;
}

/* Assign */
.app-assign {
  color: #a5a5a5;
}

.app-assign a {
  color: inherit;
  text-decoration: none;
}

.app-assign a:hover {
  text-decoration: underline;
}

.app-assign h2 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.4em;
  letter-spacing: 0.5px;
}

.app-assign p {
  font-weight: 300;
  font-size: 0.8em;
  margin: 0;
}

.app-assign img {
  display: inline-block;
  height: 1.1em;
  width: auto;
  position: relative;
  top: 0.2em;
}

.app-assign__stars a {
  margin-left: 1em;
  color: #637cc3;
  font-weight: 600;
  display: inline-block;
}
